<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.020.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #03A8E7">Musiksponsoring Swiss Music Awards</h1>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Ein Musiker investiert viel in seine Karriere. Zeit, Herzblut und auch Geld. Doch gerade wenn man noch unbekannt ist, kommt von letzterem nicht immer genug zurück. Aller Anfang ist teuer: Deshalb unterstützt Bank Cler junge Musiktalente.
      </p>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Bank Cler
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.019.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.021.jpeg') %>')"></div>
      </div>
    </div>
    <p>so hoffe ich wird es dann ausehen phil</p>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.022.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.033.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.024.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.025.jpeg') %>')"></div>
      </div>
    </div>
  </div>
</div>

<!-- <video controls>
  <source src="http://learn.shayhowe.com/assets/misc/courses/html-css/adding-media/earth.ogv" type="video/ogg">
  <source src="http://learn.shayhowe.com/assets/misc/courses/html-css/adding-media/earth.mp4" type="video/mp4">
  Please <a href="http://learn.shayhowe.com/assets/misc/courses/html-css/adding-media/earth.mp4" download>download</a> the video.
</video> -->
